body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRj1mehNoxGxButs9Vyb8w6cn8zsqBHoDPXw&s');
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
    font-size: 1em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="password"] {
    width: 150%; 
    max-width: 100%; 
}

button {
    background-color: rgba(0, 123, 255, 0.7); /* Cor de fundo sólida com transparência */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFAStWzDWn7RrZR-lPxTEPir7jNjzswgR7Eg&s');
    background-color: transparent;
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    color: #ffffff; /* Cor do texto para alto contraste */
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold; /* Torna o texto em negrito */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Adiciona uma sombra ao texto para melhorar a visibilidade */
}

button:hover {
    background-color: rgba(0, 123, 255, 1); /* Muda para uma cor sólida ao passar o mouse */
}


.register-button {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
